.section {
  overflow: hidden;
  position: relative;
  padding: 7.5rem 1.6rem;
}

.section--basic {
  background-color: white;
}

.section--light-grey {
  background-color: $off-white;
}

.section__title {
  text-align: center;
  font-weight: 500;
}

.section__subtitle {
  max-width: 60rem;
  margin: 0 auto 7.5rem;
  text-align: center;
}

.section__content {
  max-width: 112rem;
  margin: 0 auto;
}