.experiences {
  margin-top: 50px;
}

.experience {
  display: flex;
  flex-direction: row;
}

.experience__heading {
  padding: $s-size;
}

.experience__description {
  flex: 2;
  padding-left: $m-size;
}

// Styles for desktop
@media (min-width: $desktop-breakpoint) {
  .experience__heading {
    padding: $m-size;
  }
}