.footer {
  border-top: 1px solid #e6e6e6;
  background-color: white;
  color: #444444;
  height: 22rem;
  padding: 0 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer__icons {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;

  > li {
    margin-right: 1.5rem;
  }
}

.footer__icon {
  display: block;
  height: 30px;
  width: 30px;
}