.header {
  background-color: white;
  border-bottom: 1px solid #e2e2e2;
  left: 0;
  padding: 0 1rem;
  position: fixed;
  right: 0;
  z-index: 9000;
}

.header__content {
  margin:  0 auto;
  align-items: center;
  display: flex;
  justify-content: space-between;
  max-width: 112rem;
  padding: $s-size 0;
}

.header-brand{
  color: $black;
  text-decoration: none;
  h2, h4 {
    margin: 0;
  }
}

.header-brand__title {
  color: $black;
  margin: 0;
  line-height: 1;
  font-size: 2rem;
}

.header-brand__subtitle {
  color: #CC322D;
  margin: 0;
  font-weight: 600;
  font-size: 1.3rem;
}

.header__nav {
  display: flex;
}

.header__nav-item {
  display: inline-block;

  &:hover {
    background: $light-gray;
  }
}

// Styles for desktop
@media (min-width: $desktop-breakpoint) {
  .header-brand__title {
    font-size: 2.843rem;
  }

  .header-brand__subtitle {
    font-size: 1.7rem;
  }
}