.profile {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.profile__about {
  justify-content: center;
}

.profile__photo {
  align-items: center;
}

.profile__details {
  align-items: center;
  text-align: center;
}

.profile__photo > img {
  box-shadow: $shadow;
  max-width: 250px;
  width: 100%;
  height: auto;
  border-radius: 125px;
}

.profile__details__header {
  font-weight: bold;
  display: block;
}

// Styles for desktop
@media (min-width: $desktop-breakpoint) {
  .profile {
    flex-direction: row;
  }

  .profile__photo, .profile__details {
    align-items: flex-start;
  }
}